{
  "$schema": "https://www.krakend.io/schema/v3.json",
  "version": 3,
  "name": "{{ env "SERVICE_NAME" }} ({{ .service.environment }})",
  "port": {{ .service.port }},
  "timeout": "{{ .service.timeout }}",
  "cache_ttl":  "{{ .service.cache_ttl }}",
  "output_encoding": "{{ .service.output_encoding }}",
  "extra_config": {{ marshal .service.extra_config }},
  "plugin": {{ include "jwt_plugin.tmpl" }},
    "output_encoding": "no-op",
  "endpoints": [{{ range $idx, $endpoint := .endpoints.endpoints }}{{if $idx}},{{end}}
    {
        "endpoint": "{{ $endpoint.endpoint }}",
        "method": "{{ $endpoint.method }}",
        "input_headers":["*"],
        "input_query_strings": ["*"],
        "backend": [
            {
              "url_pattern": "{{ $endpoint.backend_url_pattern }}",
              "method": "{{ $endpoint.backend_method }}",
              "host": [
                "{{ $endpoint.backend_host }}"
              ],
              "extra_config": {
                  "plugin/http-client": {
  "name": "krakend-client-example",
  "krakend-client-example": {
    "path": "https://api-qa.beta.pharmconnect.com"
  }
}
              }
            }
        ]
    }{{ end }},
    {{ template "endpoints.tmpl" . }}
 ]
}
