{{define "endpointTemplate"}}
{
            "endpoint":"{{ .endpoints.endpoint }}",
            "method":  "{{ .endpoints.backend_method }}",
            "input_headers":["*"],
            "input_query_strings": ["*"],
            "backend": [
                {
                    "url_pattern": "{{ .endpoints.backend_url_pattern }}",
                    "method": "{{ .endpoints.backend_method }}",
                    "host": ["http://192.168.1.10:3007"]
                    {{ if  .endpoints.authPlugin  }}
                    ,"extra_config": {
                        {{ $data := dict "host" .host "serverSecretName" .serverSecretName "permissions" .endpoints.permissions "jwtSecretName" .jwtSecretName}} 
                        {{template "auth_plugin.tmpl" $data}}
                    }
                    {{ end }}
                }
            ]
    }
{{end}}