{
        "router": {
			"return_error_msg": true,
			"health_path": "/hub/kraken/__health"
		  },
		  "security/cors": {
			"exposed_headers": ["Access-Control-Allow-Origin", "Content-Length"],
			"allow_headers": ["Origin", "Authorization", "Content-Type"],
            "allow_origins": [{{ template "allow_origin.tmpl" index .service (env "ENV") "allowedOrigins" }}],
			"allow_methods": [
				"GET",
				"HEAD",
				"POST",
				"DELETE",
				"OPTIONS",
				"PATCH",
				"PUT"
			  ]
		  },
		  "telemetry/influx": {{template "influx_conf.tmpl" index .service (env "ENV") "influx" }},
		  "security/http":{
			"ssl_proxy_headers": {
				"X-Forwarded-Proto": "https"
			  },
			  "host_proxy_headers":[
				"X-Forwarded-Hosts"
			  ], 
			  "frame_deny": true,
			  "referrer_policy": "same-origin",
			"sts_include_subdomains":true,
			"sts_seconds":31536000,
			"content_security_policy":"script-src 'strict-dynamic' 'nonce-rAnd0m123' 'unsafe-inline' http: https:; object-src 'none'; base-uri 'none'; require-trusted-types-for 'script'; report-uri https://csp.example.com;",
			"content_type_nosniff":true,
			"browser_xss_filter":true,
			"is_development": false
		  }

 }