
    {{ range $idx, $endpoint := .endpoints_claims.example_group }}{{if $idx}},{{end}}
        {{ $data := dict "host" (index $ (env "ENV") "host") "serverSecretName" (index $ (env "ENV") "serverSecretName")  "endpoints" $endpoint   "jwtSecretName" (index $ (env "ENV") "jwtSecretName")}} 
        {{template "endpointTemplate" $data}}
    {{end}},
    {{ range $idx, $endpoint := .endpoints_communication_v2.example_group }}{{if $idx}},{{end}}
        {{ $data := dict "host" (index $ (env "ENV") "host") "serverSecretName" (index $ (env "ENV") "serverSecretName")  "endpoints" $endpoint   "jwtSecretName" (index $ (env "ENV") "jwtSecretName")}} 
        {{template "endpointTemplate" $data}}
    {{end}}

