{{ $env := env "ENV" }}
    {{ range $idx, $endpoint := .endpoints_claims.endpoints }}{{if $idx}},{{end}}
        {{ $env := env "ENV" }}
        {{ $data := dict "host" (index $.service $env "host") "serverSecretName" (index $.service $env "serverSecretName")  "endpoints" $endpoint   "jwtSecretName" (index $.service $env "jwtSecretName")  }} 
        {{template "endpointTemplate" $data}}
    {{end}},
        {{ range $idx, $endpoint := .endpoints_communication_v2.endpoints }}{{if $idx}},{{end}}
        {{ $env := env "ENV" }}
        {{ $data := dict "host" (index $.service $env "host") "serverSecretName" (index $.service $env "serverSecretName")  "endpoints" $endpoint   "jwtSecretName" (index $.service $env "jwtSecretName")  }} 
        {{template "endpointTemplate" $data}}
    {{end}}
    {{ if or (eq $env "dev") (eq $env "qa") }}
        {{ $data := dict "host" (index $.service $env "host") "serverSecretName" (index $.service $env "serverSecretName")  "jwtSecretName" (index $.service $env "jwtSecretName")  }} 
        ,{{ template "getTokenTemplate.tmpl" $data}}
    {{ end }}

